.video__content {
  margin: 5.6rem 0 0 3.6rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  .vietnam {
    padding: 24px 24px 0 0;
    grid-column: 1 / 8;
  }

  .usa {
    padding: 24px 24px 0 0;
    grid-column: 8/ 11;
  }
}
